<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>설문조사</title>
</head>
<body>
  <header>
    <h1>Flask 설문 시스템</h1>
    <hr>
  </header>

  <h2>설문 조사</h2>
  <!-- TODO: /result 라우트로 GET 요청을 보내주세요 -->
  <form action="/result" method="get">
      <!-- TODO: questions 리스트의 각 항목을 q로 꺼내 반복 출력해주세요 -->
       <!-- TODO: 각 항목의 질문 번호 및 질문 내용을 출력해주세요 -->
        {% for q in questions %}
        <p>
        {{ loop.index }}. {{ q }}
        <input type="text" name="answer">
        </p>
        {% endfor %}
      <!-- <p>          
            <ul>
                {% for question in questions %}
                    <li>{% print(question) %}
                    <input type="text" name="answer"></li>
                {% endfor %}
            </ul>
      </p> -->

    <button type="submit">제출</button>
  </form>

  <footer>
    <hr>
    <p>© OZ코딩스쿨 웹 개발 초격차 캠프 BE14</p>
  </footer>
</body>
</html>